Package: com.82flex.trollvnc
Name: TrollVNC
Version: 1.2
Section: Tweaks
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm
Author: 82Flex <82flex@gmail.com>
Maintainer: 82Flex <82flex@gmail.com>
Description: TrollVNC is a VNC server for iOS devices, allowing remote access and control of the device’s screen.
